# List Function

In [50]:
lst = ["Sachin", 8, 3, 1996, 24]

In [51]:
lst[0]

'Sachin'

In [52]:
lst.append("Male")

In [53]:
lst

['Sachin', 8, 3, 1996, 24, 'Male']

In [54]:
lst.index("Male")

5

In [55]:
lst.count("Sachin") #This will show how many times Sachin has been repeated.

1

In [56]:
lst.pop(5)

'Male'

In [57]:
lst

['Sachin', 8, 3, 1996, 24]

In [62]:
lst.clear

# Dictionary Function

In [86]:
dit = { 'Name': 'Sachin', 'age': 24, 'gender': 'male' }

In [87]:
dit

{'Name': 'Sachin', 'age': 24, 'gender': 'male'}

In [88]:
dit.get('age')

24

In [89]:
dit.get('Name')

'Sachin'

In [95]:
dit.update({'age': 25})

In [96]:
dit

{'Name': 'Sachin', 'age': 25, 'gender': 'male'}

In [103]:
dit.items()

dict_items([('Name', 'Sachin'), ('age', 25), ('gender', 'male')])

In [104]:
dit.keys()

dict_keys(['Name', 'age', 'gender'])

# Sets Function

In [3]:
st={1,2,2,2,3,3,3,4,4,5,5,6,6,'sachin', 'sachin'}
st

{1, 2, 3, 4, 5, 6, 'sachin'}

In [4]:
st.add('male')
st

{1, 2, 3, 4, 5, 6, 'male', 'sachin'}

In [6]:
st.update([1996, 'march'])
st

{1, 1996, 2, 3, 4, 5, 6, 'male', 'march', 'sachin'}

In [7]:
st.discard(1996)
st

{1, 2, 3, 4, 5, 6, 'male', 'march', 'sachin'}

In [11]:
st.pop()
st

{3, 4, 5, 6, 'male', 'march', 'sachin'}

In [12]:
st.clear()
st

set()

# Tuple

In [13]:
my_tuple = (1, 2, 3, 'sachin')
my_tuple

(1, 2, 3, 'sachin')

In [15]:
my_tuple[0]

1

In [16]:
my_tuple[3][3] #nested tuple

'h'

In [22]:
my_tuple.count('sachin')

1

In [23]:
my_tuple.index('sachin')

3

# Strings

In [32]:
my_str = "Hi I am sachin"
my_str

'Hi I am sachin'

In [41]:
my_str.upper()

'HI I AM SACHIN'

In [42]:
my_str.count('Hi')

1

In [43]:
my_str.isnumeric()

False

In [44]:
my_str.isascii()

True

In [45]:
help(str.isascii)

Help on method_descriptor:

isascii(self, /)
    Return True if all characters in the string are ASCII, False otherwise.

    ASCII characters have code points in the range U+0000-U+007F.
    Empty string is ASCII too.

In [47]:
my_str.rindex('Hi')

0

In [48]:
my_str.title()

'Hi I Am Sachin'

In [49]:
help(my_str.title)

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.